<html>
<head>
    <title>Menu Items</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}">
    <link href="{{ url_for('showMenuAtom', restaurant_id=restaurant.id) }}" rel="alternate" title="Restaurants" type="application/atom+xml">
</head>
<body>
    <header><h1> {{ restaurant.name }} Menu Items </h1></header>
    <div class='content'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="flash-messages" class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <a class='create-new' href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Create a New Menu Item</a>
        <ul>
            {% for i in items %}
            <li class='menu'><span>{{i.name}}</span>
                <p>{{i.description}}</p>
                <p class="course"><strong class="price">{{i.price}}</strong>{{i.course}}</p>
                <input id="hidden-pic" name="picture" value="{{i.picture}}" type="hidden">
                {% if i.picture %}
                <img class="item-picture" src="data:image/png;base64, {{i.picture}}" />
                {% endif %}
                <a class="back-button" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id)}}">Edit</a>
                <a class="back-button" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id)}}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if creator.picture %}
    <div class="user-stamp">
        <img width="70" height="70" src="{{creator.picture}}" >
        <p class="creator-name"><small>created by {{creator.name}}</small></p>
    </div>
    {% endif %}
    <footer>
        <a href="{{url_for('showRestaurants')}}">Home</a> |
        {% if auth %}
        <a href="{{url_for('gdisconnect')}}">Logoff</a>
        {% else %}
        <a href="{{url_for('showLogin')}}">Login</a>
        {% endif %}
    </footer>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-2.1.4.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bundle.js')}}"></script>
</body>
</html>