<html>
<head>
    <title>New Restaurant</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}">
</head>
<body>
    <header><h1> New Restaurant </h1></header>
    <div class='content'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="flash-messages" class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <form method='POST' enctype='multipart/form-data' action="{{ url_for('newRestaurant')}}">
            <input id="name" name='name' type='text' placeholder="Restaurant Name">
            <div id="cancel-save">
                <a class="back-button" href="{{url_for('showRestaurants')}}">Cancel</a>
                <input type='submit' value='Add'>
            </div>
      </form>
    </div>
    <footer>
        <a href="{{url_for('showRestaurants')}}">Home</a> |
        {% if auth %}
        <a href="{{url_for('gdisconnect')}}">Logoff</a>
        {% else %}
        <a href="{{url_for('showLogin')}}">Login</a>
        {% endif %}
    </footer>
</body>
</html>